/* ---------------------- */
/* Fonts                  */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root {
  --clr-orange: hsl(25, 97%, 53%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);

  --ff-main: "Overpass", sans-serif;
}

/* ---------------------- */
/* Reset                  */
/* ---------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

/* ---------------------- */
/* Typography             */
/* ---------------------- */

html {
  font-family: var(--ff-main);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--clr-white);
  margin-bottom: 0;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-medium-grey);
}

body {
  background-color: #141519;
}

label {
  cursor: pointer;
  /* to get the click input on the whole circle, not only in the center */
  padding: 1em;
}

/* ---------------------- */
/* Utility classes        */
/* ---------------------- */

.container {
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 2em;
  max-height: 2em;
  padding: 1.5em;
  border-radius: 50%;
  background-color: var(--clr-dark-blue);
}

/* ---------------------- */
/* Buttons                */
/* ---------------------- */

#btn {
  border-radius: 4em;
  margin-top: 2em;
  padding: 1em 2em;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--ff-main);
  font-weight: 700;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  cursor: pointer;
  transition: all 250ms;
  width: 100%;
}

#btn:hover {
  color: var(--clr-orange);
  background-color: var(--clr-white);
}

#btn:active {
  transform: translateY(2px);
}

/* ---------------------- */
/* Components             */
/* ---------------------- */

/* card components */
.card {
  max-width: 27rem;
  /* background-color: var(--clr-dark-blue); */
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  border-radius: 2em;
  padding: 3em;

  justify-content: center;
  flex-direction: column;

  -webkit-box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.45);
}

.card__rating {
  justify-content: center;
  flex-direction: row;
  margin-block: 1em;
  flex-wrap: wrap;
  gap: 1em;
}

.card__choice {
  color: var(--clr-orange);
  background-color: var(--clr-dark-blue);
  border-radius: 4em;
  padding: 0.5em 0.75em;
  width: max-content;
  margin-top: 2em;
  margin-inline: auto;
}

.card__img {
  margin: auto;
  max-width: 200px;
}

.circle-number {
  max-width: 2em;
  max-height: 2em;
  padding: 1.5em;
  background-color: var(--clr-dark-blue);
  color: var(--clr-light-grey);
  /* opacity: 0.1; */

  border-radius: 50%;

  cursor: pointer;

  /* margin-right: 1em; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-number:hover {
  background-color: var(--clr-light-grey);
  color: var(--clr-white);
}

.circle-number:active {
  background-color: var(--clr-orange);
  color: var(--clr-white);
}

input {
  margin: 0;
  position: absolute;
  border: 0;
  transform: scale(4);
  /* hide radio buttons */
  visibility: hidden;
}

/* to hide second card */
#thank-you {
  display: none;
}

.attribution {
  color: var(--clr-white);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---------------------- */
/* Media queries          */
/* ---------------------- */

@media (min-width: 720px) {
  .card {
    max-width: 35%;
  }
}
